.container {
    display: flex;
    justify-content: center;
    height: 1000px;
    width: 3000px;
    background-image: url(https://img.freepik.com/vector-premium/ciudad-calle-centro-urbano-panoramico-paisaje-urbano_88272-2887.jpg?w=2000);
}


.semaphore {
    display: block;
}

.tube {
    height: 60px;
    width: 20px;
    background: orange;
    margin: auto;
}


.traffic-light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5%;
    background-color: orange;
    border: black 1px solid;
    height: 260px;
    width: 100px;
}

.light {
    margin: 5px;
    border-radius: 60%;
    height: 30%;
    width: 80%;
    cursor: pointer;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.off {
    opacity: 0.6;
    border: black 1px solid;
}

button {
    height: 10%;
    width: 60%;
}


.button {
    display: flex;
    margin: auto;
    height: 30px;
    border: black 1px solid;
}